<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('home') }}">TextDump</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end " id="navbarNavAltMarkup">
        <div class="navbar-nav mr-auto">
          {% if not logged_in %}
            <a class="nav-link nav-hover" aria-current="page" href="{{ url_for('home') }}">Home</a>
            <a class="nav-link nav-hover" href="{{ url_for('login') }}">Login</a>
            <a class="nav-link nav-hover" href="{{ url_for('register') }}">Create account</a>
          {% endif %}

          {% if logged_in %}
           <i class="fas fa-user text-white"> Signed in as: {{ first_name }}</i>
          {% endif %}
          
        </div>
      </div>
    </div>
</nav>