<div class="mt-4">
    <div class="list-group">
        <a href="{{ url_for('dashboard') }}" class="list-group-item list-group-item-action" aria-current="true">
            <i class="fas fa-tachometer-alt"></i> Dashboard
        </a>
        <a href="{{ url_for('biashara') }}" class="list-group-item list-group-item-action">
            <i class="fas fa-dolly-flatbed"></i> Biashara
        </a>
        <a href="{{ url_for('bookings') }}" class="list-group-item list-group-item-action">
            <i class="fas fa-list"></i> Bookings
        </a>
        <a href="{{ url_for('reports') }}" class="list-group-item list-group-item-action">
            <i class="fas fa-file"></i> Reports
        </a>
        <!-- <a href="{{ url_for('role') }}" class="list-group-item list-group-item-action">
            <i class="fas fa-user-tag"></i> Roles
        </a> -->
        <a href="{{ url_for('logout') }}" class="list-group-item list-group-item-action">
            <i class="fas fa-power-off"></i> Sign Out
        </a>
        
       
      </div>
</div>